{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block portion1_heading %} <h1>Welcome to the Langchain Mystery Solver! </h1> {% endblock %}
{% block portion1_content %} Discover the power of AI in solving mysteries with our cutting-edge Langchain Mystery Solver. Unleash the potential of language models to analyze clues, generate insights, and unravel complex cases. Whether you're a detective, researcher, or simply curious, our platform provides the tools you need to crack the code and solve mysteries like never before.{% endblock %}

{% block portion2_heading %} {% endblock %}
{% block portion2_content %} 
<div> 
    <img src="{{ url_for('static', path='images/mainimage.png')}}" alt="" width="50%" height="50%">
</div>
{% endblock %}

